<section class="video-player">
    <main class="menu">
        <span>Home</span>
        <span style="float: right">History</span>
    </main>
    <div class="video-carousel" ng-keydown="navigate($event)" tabindex="1">
        <div class="video-item" ng-repeat="item in videoList" ng-class="{active: activeIndex === $index}" ng-click="selectVideo($index)">
            <img ng-repeat="image in item.images" ng-src="{{image.url}}"></img>
        </div>
    </div>
    <div class="video-details">
        <summary>
            <div class="title">{{selectedVideo.title}}</div>
            <div class="description">{{selectedVideo.description}}</div>
            <button type="button" ng-click="playVideo()" tabindex="2">Play video</button>
        </summary>
    </div>
</section>
<div class="modal" ng-show="isVideoSelected" ng-keydown="exitVideoPlay($event)" tabindex="3">
    <div class="overlay" ng-keydown="exitVideoPlay($event)" tabindex="4">
        <section class="content" ng-keydown="exitVideoPlay($event)" tabindex="5">
            <span>Press escape to go back</span>
            <video id="sampleMovie" src="{{selectedVideo.contents[0].url | trustUrl}}" controls></video>
        </section>
    </div>
</div>
