<section>
    <div class="video-carousel" ng-keydown="navigate($event)" tabindex="1">
        <div class="video-item pointer-type" ng-repeat="item in videoList track by $index" ng-class="{active: activeIndex === $index}" ng-click="selectVideo($index)">
            <img ng-repeat="image in item.images" ng-src="{{image.url}}"></img>
        </div>
    </div>
    <div class="video-details">
        <summary>
            <div class="title">{{selectedVideo.title}}</div>
            <div class="description">{{selectedVideo.description}}</div>
            <button type="button" ng-click="playVideo()" tabindex="1" ng-show="selectedVideo">Play video</button>
        </summary>
    </div>
</section>
<div class="modal" ng-show="isVideoSelected" ng-keydown="keyboardVideoActions($event)" tabindex="1">
    <div class="overlay" ng-keydown="keyboardVideoActions($event)" tabindex="1">
        <section class="content" ng-keydown="keyboardVideoActions($event)" tabindex="1">
            <span>Press escape to go back, Spacebar to play/pause, F for fullscreen</span>
            <video id="video-player" src="{{selectedVideo.contents[0].url | trustUrl}}"></video>
            <div id="video-controls">
                <div class="fa fa-2x player-btn pointer-type pull-left" ng-class="{'fa-play': !isPlay, 'fa-pause': isPlay}" ng-click="togglePlayer($event)"></div>
                <div class="fa fa-2x player-btn pointer-type fa-expand pull-left" ng-click="enterFullscreen($event)"></div>
                <progress class="progress-bar" class="pull-left" min="0" max="100" value="{{progressVal}}"></progress>
            </div>
        </section>
    </div>
</div>